{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
            <h1>{{joueur.nom}}</h1>
            <div class="image_fiche_joueur">
                <img src="{{ vich_uploader_asset(joueur, 'imageFile') }}" alt="" style="width: 100%;height: auto;">
            </div>
        </div>
        <div class="col-md-8">

        </div>
    </div>
</div>
{% endblock %}

{% block title %}

{% endblock %}

